#admin-header {
	background: $blue;
	padding: 10px 0;

	#{headings()}, li, a, p, span {
		color: white;
	}
}

#market-header {
	padding: 10px 0;
	border-bottom: 1px solid $light-gray;

	#{headings()} {
		color: $gray;
	}
}