form .message-red {
	color: red;
}

form footer {
	margin-left: 20px;
	background: none;
}

form input[type=radio] {
	margin: 0;
	color: $gray;
}

.new-order-wrapper {
	background: $blue;
}
#new-order-form, form .panel, form .radius, .panel.radius {
	background: $dark-blue;
	@include border-radius(10px);
	padding: 20px;
}

.panel.radius {
	margin: 20px 0;
	border: none;
}

#new-order-region {
	width: 340px;
}

#new-order-form {
	h5, label {
		color: white;
		font-weight: 100;
	}
	small {
		color: $red;
		font-weight: 300;
		font-size: 1em;
	}
}

// remove glow on focus in Chrome
input:focus,input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="date"]:focus, 
input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, 
input[type="month"]:focus, 
input[type="week"]:focus, 
input[type="email"]:focus, 
input[type="number"]:focus, 
input[type="search"]:focus, 
input[type="tel"]:focus, 
input[type="time"]:focus, 
input[type="url"]:focus, 
input[type="color"]:focus, 
textarea:focus { 
	outline: none !important; 
	@include box-shadow(none);
	border: 2px solid $light-blue;
}

input[type="text"], 
input[type="password"], 
input[type="date"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="month"], 
input[type="week"], 
input[type="email"], 
input[type="number"], 
input[type="search"], 
input[type="tel"], 
input[type="time"], 
input[type="url"], 
input[type="color"], 
textarea {
	border: none;
	height: 42px;
	padding: 7px 15px;
	@include border-radius($medium-radius);
	font-size: 1rem;
	color: $gray;
}

.field em {
	color: $light-gray;
}
