form .message-red {
	color: red;
}

form footer {
	margin-left: 20px;
	background: none;
}

form input[type=text],
form input[type=email],
form input[type=password] {

	@include border-radius($small-radius);
	padding: 7px 15px;
}

form input[type=radio] {
	margin: 0;
	color: $gray;
}

.new-order-wrapper {
	background: $blue;
}
#new-order-form, form .panel, form .radius, .panel.radius {
	background: $dark-blue;
	@include border-radius(10px);
	padding: 20px;
}

.panel.radius {
	margin: 20px 0;
	border: none;
}

#new-order-region {
	width: 340px;
}

#new-order-form {
	h5, label {
		color: white;
		font-weight: 100;
	}
	small {
		color: $red;
		font-weight: 300;
		font-size: 1em;
	}
}
