#list-orders-region {
	background: $dark-blue;

	h5 {
		display: inline-block;
		color: white;
		font-weight: 100;
	}
}

.list-orders-header {
	height: 80px;
	padding: 20px 0;
}

.orders-trades {
	background: $dark-blue;
}

.new-order-wrapper {
	margin-top: 15px;
}