
.header-wrapper {
	margin-top: 10px;
	margin-bottom: 10px;
}
#jumbo {
	width: 100%;
	margin-bottom: 80px;
	text-align: center; 
	padding-top: 20px;

	h1 {
		color: $light-blue;
	}

	a {
		display: inline-block;
		margin-top: 20px;
		padding: 15px 35px;
		color: $light-blue;
		font-size: 1.4em;
		background: white;
		@include border-radius($small-radius);
		border: 2px solid $light-blue;

		&:hover {
			color: lighten( $very-light-blue, 30%);
			background: $light-blue;
			border: 2px solid $light-blue;
			@include transition(all, 0.2s);
		}

	}
}

#how-it-works {
	background: $blue;
	margin-top: 40px;
	padding: 40px 0 40px 0;

	.headline {
		text-align: center;
		margin-bottom: 20px;
	}
	
	#{headings()} {
		color: white;
	}

	p {
		color: lighten( $very-light-blue, 10%);
	}

	a {
		color: lighten( $very-light-blue, 10%);
		text-decoration: underline;
	}
}

#contract-standard {
	padding: 40px 0;
	background: $dark-blue;
	text-align: center;
	#{headings()}, p {
		color: lighten( $very-light-blue, 10%);
	}
}

.header-center {
	width: 100%;
	text-align: center;
}

.blue-body {
	background: $light-blue;
}

