.my-orders h5 {
	display: inline-block;
	padding: 5px 0;
}

#new-order.button.tiny {
	display: inline-block;
	margin-left: 20px;
	color: $gray;
	background: $font-very-light-gray;
	&:hover {
		color: white;
		background: $yellow;
	}
}

#offers-region, #bids-region {
	ul li button {
		background: $vlight-gray;
		color: $gray;
		width: 10em;
		margin-bottom: 1px;
	}
}

#bids-region {
	ul li {
		&:first-child button {
			background: $red;
			color: white;

			&:hover {
				background: darken($red, 12%);
			}
		}
	}
}

#offers-region {
	ul li {
		&:first-child button {
			background: $green;
			color: white;

			&:hover {
				background: darken($green, 10%);
			}
		}
	}
}

.price {
	font-size: 1.8em;
	margin-right: 5px;
}

.bid-offer {
	width: 100%;
	text-align: center;
}


	
	