.my-orders h5 {
	display: inline-block;
	padding: 5px 0;
}

#new-order.button.tiny {
	margin-left: 20px;
}

.prices-region {
	width:			300px;
	min-width: 300px;
}

.bid-offer {
	width: 150px;
	text-align: center;
	margin-top: 20px;

	h5 {
		margin: 0 0 1px 0;
		padding: 5px 0;
		font-weight: 100;
		background: $very-dark-blue;
		color: white;
	}
}

#offers-region, #bids-region {
	width: 150px;
	float: left;

	ul { margin-left: 0;}

	ul li {
		width: 150px;
		&:first-child button {
			height: 150px;
			background: $dark-blue;
			.price {
				font-size: 2.5em;
			}
			&:hover {
				background: darken($dark-blue, 7%);
			}
		}
	}

	ul li button {
		background: $blue;
		width: 150px;
		height: auto;
		margin-bottom: 1px;

		.price {
			font-size: 1.5em;
			font-weight: 100;
			margin-right: 5px;
		}
	}
}

#bids-region {
	margin-right: 1px;
}

.fi-lightbulb {
	color: $light-blue;
}
















	
	