.info-panel {
	background: $blue;
}

.stats-data {
	color:				white;
	background: 	$blue;
	padding-top:  15px;
	padding-bottom: 15px;

	td {
		background: $blue;
		color:			white;
		font-weight: 100;
	}

	h5 {
		color: white;
		font-weight: 100;
	}
}

