table {
	border: none;
}

td, table tr td {
	height: 25px;
	padding: 3px 15px;
	line-height: 1rem;
	background: $dark-blue;
	color: white;
	font-weight: 100;
}

.left-cell {
	text-align: left;
}
.right-cell {
	text-align: right;
}


table thead tr th, th {
	color: white;
	background: $blue;
	font-weight: 100;
	text-align: center;
}

table button.alert.tiny, table .button.alert.tiny {
	color: white;
	background: $dark-blue;
	border: 2px solid white;
	margin-bottom: 0;
	padding: 5px 10px;
	@include border-radius(3px);

	&:hover {
		background: $red;
		border: 2px solid $red;
	}
}

table button.alert, table .button {
	color: $gray;
	background: $font-very-light-gray;
	&:hover {
		background: $blue;
	}
}

table .fi-arrow-up {
	color: $green;
	margin-right: 5px;
}

table .fi-arrow-down {
	color: $red;
	margin-right: 5px;
}

.success {
	background: $green;
}