$blue: 				#2980B9;
$dark-blue:		#2C3E50;
$red:					#E74C3C;
$yellow: 			#FFD124;
$green:				#329941;

$font-very-light-gray: 	#ddd;
$font-light-gray: 			#989898;
$light-gray:						#aaa;
$gray:									#888;
$dark-gray:							#555;


$devise-form-width:		600px;
$max-width:						1000px;

$medium-radius: 	10px;
$small-radius:		2px;