#main-region
	#jumbo
		.row
			.small-centered.large-centered
				.full-line
					%h1 Trade Payrolls, earn Payrloins
				.full-line
					%h5 for
				.full-line
					%h2 BRAVE and EXPERIANCED only

				= link_to  "I want to try!", new_user_registration_path

	#how-it-works
		.row
			.small-12.large-12.columns.headline
				%h2 How it works

		.row
			.small-12.large-4.columns
				%h4 WHY
				%p
					Payrollsio is the simple platform crafted lovingly to enable you to trade Non-farm Payrolls for fun only.
					As we all know NFPs is pretty much a random number. You know nothing John Snow! 
				%p
					All estimates are good, but we know better. 
					We talk payrolls, we speculate and then we win!

			.small-12.large-4.columns
				%h4 HOW
				%p 
					When you open a 
					= link_to  "Free Account", new_user_registration_path
					, we give you some pocket money. 100.000 Payrloins exactly.
					This is when the adventure begins and adrenaline starts pumping. 
					You are free to trade. Sell or buy, do whatever you want and win as much payrloins as you
					can. 
				%p
					The winner takes it all. The loser's standing small.

			.small-12.large-4.columns
				%h4 WHEN
				%p 
					The number is released on the first Friday of every month at 1:30 pm GMT.
					Do not miss, it's exciting day. The platform opens at 8.00 am GMT, so you have 5.5 hours for your 
					brave speculations.
				%p 
					After the number is published all contracts are settled. You can check your winners and losers in your Account tab.

	#contract-standard
		.row
			.small-12.large-12.large-centered.columns.headline
				%h2 Contract standard
		.row
			.small-12.large-12.large-centered.columns
				%p
					We talk thousands. 1 tick is worth 10 Payrloins. You start with 100.000 Payrloins. 
				%h4 Example
				%p
					You bought 10 contracts at 245k (245.000). Actual figure was to your suprise 267.000. 
					Your profit is 10 contracts * (267 - 245) * 10 tick value. That is 2.200 Payrloins!
					Congratulations!



